
.nav {
  background-color: none; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}
.nav li {
  display: inline-block;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:active {
  text-decoration: underline;
  color: #000000;
}

.body-text {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 600;
}
.small-text {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.header {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 96px;
  font-weight: bold;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 16px;
  padding: 18px 70px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
/* active state */
.button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;

}
#Hero {
  background-color: white;
  padding: 100px;
}
.selected {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#selected {
  padding: 100px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
#Work {
  background-color: #F8F1F1;
  padding: 100px;
}
.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#Skills {
  padding: 100px;
}
#Contact {
  padding: 100px;
}
.footer {
  background-color: black;
  padding: 100px;
  text-align: left;
  margin: 0;
}
.footer li {
  display: inline-block;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
footer a, footer a:visited {
  text-decoration: none;
  color: white;
}
img {
  overflow: auto;
}
.viewProject {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

}