
.nav {
  background-color: none; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:active {
  text-decoration: underline;
  color: #000000;
}

.bodytext {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 600;
}
.small {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.header {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 96px;
  font-weight: bold;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 16px;
  padding: 18px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
/* active state */
.button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;

}
#Hero {
  background-color: white;
  padding: 100px;
}
#Work {
  background-color: #F8F1F1;
  padding: 100px;
}
.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#span {
  
}