.menu{
  
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}
.bodytext {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: semibold;
}
.header1 {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 96px;
  font-weight: bold;
}









.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s;

}
/* active state */
.hoverMe:hover {
  background-color: #9D0000

}
